@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


:root {
    --shadow: 0 1px 6px rgba(32,33,36,.28);
}

html, body {
    height: 100%;
    position: relative;
}

/* ------ Feed Style ------ */
#feed-title {
    font-family: 'Dancing Script', cursive;
}

#header {
    display: flex;
    justify-content: space-between;
}


#btn-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    margin-right: 30px;
    margin-top: 30px;
}

#feed-wrapper {
    max-width: 600px;
    height: 100%;
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
    align-items: center;  
}

.message-header {
    display: flex;
    justify-content: space-between;
}

.message-header > b {
    text-decoration: underline;
}

#timestamp {
    font-size: 10px;
    margin-right: 3px;
}

.message-wrapper {
    /* background-color: rgb(233, 232, 232); */
    background-color: white;
    border: 1px solid;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.message-wrapper > p {
    margin-left: 5px;
    margin-top: 20px;
}

#message-body {
    font-family: 'Roboto Mono', monospace;
}

#content{
    height: 100vh;
    position: relative;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#form {
    display: flex;
    flex-direction: column;   
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

#form > input {
    width: 100%;
    border: 2px solid rgba(198, 202, 219, 1);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; /* to set the borders of the input */   
}


#form > button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: 2px solid rgba(198, 202, 219, 1);
    border-radius: 5px;
    background-color: rgba(240, 188, 84, 0.562);
    margin-top: 10px;
    font-family: 'Roboto Mono', monospace;
}

#form > button:hover {
    background-color: rgba(217, 114, 70);
    cursor: pointer;


}

#leftChatBtn {
    background-color: rgba(217, 114, 70);
    border-radius: 5px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

#leftChatBtn:hover {
    cursor: pointer;
    background-color: rgba(218, 48, 48, 0.927);
}

