{% extends "base/layout.html" %}
{% load static %}
{% block title %}Text chat{% endblock title %}

{% block content %}
<main>
    <section class="form-container">

            <div class="welcome-message"> 
                <h1>Text Chat</h1>
                <p class="welcome-parag">Blablabla</p>
            </div>

            <div>
                <form class="registration-form" id="form-text" onsubmit="registerUsername">
                    <div class="form-field">
                        <input type="text" name="username" id="username" placeholder="Your username">
                    </div>
                    <div class="form-field">
                        <input type="submit" value="Enter chat">
                    </div>    
                </form>
            </div>
    </section>
</main>

<script type="text/javascript">
    // Add username to channel
    let registerForm = document.getElementById("form-text")
    registerForm.addEventListener("submit", (e) => {
        e.preventDefault();
        let username = e.target.username.value
        console.log(username)

        sessionStorage.setItem("username", username)
        if(username){
            window.open("feed/", "_self") 
        }
        
})
</script>
{% endblock content %}
