.form {
    margin: 20px;
}


.form-field label {
    font-size: 16px;
}

/* New style */

.btn-wrapper {
    width: 100%;
    /* border: 2px solid rgba(198, 202, 219, 1); */
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; /* to set the borders of the input */   
}

.btn-wrapper > button {
    width: 100%;
    border: 2px solid rgba(198, 202, 219, 1);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; 
    margin-top: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.btn-wrapper > button:hover {
    cursor: pointer;
    background-color: rgba(217, 114, 70, 0.9);
}

@media screen and (max-width:450px) {
    .presentation-div {
        width: 80%;
    }

    #welcome-message h1 {
        font-size: 24px;
    }

    #logo {
        width: 200px;
    }
}