/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Mono:wght@200&display=swap');



:root{
    --shadow: 0 1px 6px rgba(32,33,36,.28);
} 
 
body {
    background-color: #FDF7D0;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Roboto Mono', monospace;
}

/* Header style */

#main-logo {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.sec-logo {
    display: block;
    width: 100px;
    margin: 10px auto;
}

.presentation-div {
    width: 400px;
    box-shadow: var(--shadow);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-message {
    text-align: center;
    margin-top: 1px;
}

.welcome-message h1{
    font-size: 56px;
    font-family: 'Dancing Script', cursive;
}

.sec-h1 {
    font-size: 56px;
    font-family: 'Dancing Script', cursive;
    color: rgb(240, 188, 84);
}

.welcome-message p {
    margin-top: 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

/* Form Style */


.form-container {
    width: 400px;
    box-shadow: var(--shadow);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration-form {
    margin: 20px;
}

.form-field {
    margin-top: 20px;
}

.form-field input {
    width: 100%;
    border: 2px solid rgba(198, 202, 219, 1);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; /* to set the borders of the input */   
}

.form-field label {
    font-size: 16px;
}

.form-field label {
    font-size: 16px;
}

.form-field input[type="submit"]{
    border: 2px solid rgba(198, 202, 219, 1);
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.form-field input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(217, 114, 70, 0.9);
}

.form-field input:focus-visible {
    border-color: #DE808B;
}

/* Redirect style */

.redirect-logo {
    color:  rgba(217, 114, 70);
    display: flex;
    justify-content: flex-end;
}

.redirect-logo:hover {
    cursor: pointer;
}

@media screen and (max-width:450px) {
    .form-container {
        width: 80%;
    }

    .welcome-message h1 {
        font-size: 24px;
    }

    #main-logo {
        width: 200px;
    }

    .sec-logo {
        width: 100px;
    }
}