{% extends "base/layout.html" %}

{% load static %}
{% block title %}Homepage{% endblock title %}
{% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'base/base.css' %}">
{% endblock style %}

{% block content %}
    <main>
        <section class="form-container">

            <img id="logo" src="{% static 'video/images/logo2.png' %}" alt="videochat">
            <div class="welcome-message"> 
                <h1>MeetUs</h1>
                <p class="welcome-parag">Blablabla</p>
            </div>

            <div class="btn-wrapper">
                <button id="textBtn">Text chat (text logo)</button>
                
                <button type="submit" id="videoBtn">Video chat (video logo)</button>
            </div>
        </section>
    </main>
    
    <script type="text/javascript" src="{% static 'base/base.js' %}"></script>
{% endblock content %}
    