{% extends "base/layout.html" %}

{% load static %}
{% block title %}Homepage{% endblock title %}
{% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'base/base.css' %}">
{% endblock style %}

{% block content %}
    <main>
        <h1>Main title</h1>
        <section class="presentation-div">
            <div id="welcome-message"> 
                <p id="welcome-parag">Base Index page</p>
            </div>

            <div class="btn-wrapper">
                <button id="textBtn">Go to text chat (text logo)</button>
                <button id="videoBtn">Go to video chat (video logo)</button>
            </div>
        </section>
    </main>
    
    <script type="text/javascript" src="{% static 'base/base.js' %}"></script>
{% endblock content %}
    